<?xml version="1.0" encoding="utf-8" ?>
<unity>

  <typeAliases>

    <!-- Lifetime manager types -->
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />

    <!-- EntityContainer -->
    <typeAlias alias="INorthwindEntities" type="DataAccess.INorthwindEntities, DataAccess" />
    <typeAlias alias="NorthwindEntities" type="DataAccess.NorthwindEntities, DataAccess" />
    <typeAlias alias="NorthwindEntitiesMock" type="DataAccess.NorthwindEntitiesMock, DataAccess" />

  </typeAliases>

  <containers>

    <container>
      <types>

        <register type="INorthwindEntities" mapTo="NorthwindEntitiesMock">
          <lifetime type="singleton" />
        </register>

      </types>
    </container>

  </containers>

</unity>